* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header .navbar {
  background-color: white;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 2px 4px gray;
  position: fixed;
  z-index: 10000;
}
header .navbar-nav {
  list-style-type: none;
  margin: 0;
  padding-left: 100px;
  padding-right: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .nav-item {
  display: inline-block;
  margin-right: 20px;
}
header .nav-logo img {
  height: 50%;
  transition: transform 0.3s ease;
}
header .nav-logo img:hover {
  transform: scale(1.1);
}
header a {
  color: black;
  text-decoration: none;
  padding: 15px 20px;
  display: block;
  font-size: 17;
  transition: transform 0.3s ease, color 0.3s ease;
}
header a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.1);
  color: #0056b3;
}
header .nav-item img {
  height: 20px;
  vertical-align: middle;
}
@media (max-width: 430px) {
  header .navbar {
    height: 120px;
  }
  header .navbar .navbar-nav {
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
    align-items: flex-start;
    height: 120px;
  }
  header .navbar .menu-items, header .navbar .Logo, header .navbar .nav-item {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 7px;
  }
  header .navbar .nav-item {
    margin-right: 0;
    margin-top: 0;
  }
  header .navbar .nav-logo img, header .navbar .nav-item img {
    height: 30px;
  }
  header .navbar .nav-item a {
    padding: 0 15px;
    font-size: 11px;
    text-align: center;
    align-self: center;
  }
  header .navbar .nav-icons {
    display: none;
  }
}

footer {
  background-color: lightgray;
  padding: 20px;
  text-align: center;
}
footer .footer-contacto p {
  color: #333;
  font-size: 0.9em;
  margin: 5px 0;
}
footer .footer-enlaces a {
  display: inline-block;
  margin-top: 15px;
  margin-left: 15px;
  color: black;
  text-decoration: none;
  font-size: 0.9em;
}
footer .footer-enlaces a:hover {
  text-decoration: underline;
}

main {
  padding-top: 100px;
}
main #banner {
  height: 500px;
  padding-top: 100px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main #banner h1 {
  color: white;
  font-size: 3em;
}
main #banner .boton-tienda {
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  text-decoration: none;
  border: 1.5px solid white;
  border-radius: 10px;
  font-size: 1.2em;
  margin-top: 70px;
  transition: transform 0.3s ease;
}
main #banner .boton-tienda:hover {
  transform: scale(1.3);
  background-color: transparent;
  color: white;
}
@media (max-width: 430px) {
  main #banner #banner {
    height: 300px;
  }
  main #banner #banner h1 {
    font-size: 2.5em;
  }
  main #banner .boton-tienda {
    font-size: 1em;
  }
}
main #tituloDestacados {
  font-size: 30;
  margin-top: 55px;
  margin-bottom: 35px;
  text-align: center;
}
main #subtituloDestacados {
  font-size: 20;
  margin-bottom: 35px;
  text-align: center;
}
@media (max-width: 430px) {
  main #subtituloDestacados {
    margin: 0;
  }
}
main .productos-destacados {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}
@media (max-width: 430px) {
  main .productos-destacados {
    flex-wrap: wrap;
  }
}
main .producto {
  width: 20%;
  text-align: center;
  margin: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  overflow: hidden;
}
@media (max-width: 430px) {
  main .producto {
    margin: 5px;
    padding: 10px;
    width: 40%;
  }
}
main .producto img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.5s ease;
}
main .producto img:hover {
  transform: scale(1.1);
}
@media (max-width: 430px) {
  main .producto img {
    width: 100%;
  }
}
main .producto h3 {
  margin: 20px 0 0 0;
  color: #333;
  padding: 0px;
}
@media (max-width: 430px) {
  main .producto h3 {
    font-size: 15px;
    text-align: center;
  }
}
main .producto p {
  margin: 0;
  color: #666;
}
@media (max-width: 430px) {
  main .producto p {
    font-size: 12px;
    text-align: center;
  }
}
main .producto .boton-comprar {
  padding: 10px 20px;
  background-color: transparent;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  border: 1.5px solid black;
  display: inline-block;
  font-size: 1em;
  margin-top: 15px;
  transition: transform 0.3s ease;
}
main .producto .boton-comprar:hover {
  transform: scale(1.1);
  background-color: transparent;
  color: black;
}
@media (max-width: 430px) {
  main .producto .boton-comprar {
    padding: 5px;
    font-size: 15px;
  }
}

#banner {
  background-image: url(../media/banner.png);
}

#blogBanner {
  height: 100px;
  padding-top: 100px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tituloBlog {
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
  font-size: 60;
}
@media (max-width: 430px) {
  .tituloBlog {
    font-size: 40px;
  }
}

.mainBlog {
  margin-left: 250px;
  margin-right: 200px;
  text-align: justify;
  margin-bottom: 100px;
}
@media (max-width: 430px) {
  .mainBlog {
    margin: 0;
  }
}
.mainBlog h3 {
  margin-top: 15px;
  text-align: center;
  margin-bottom: 30px;
}
@media (max-width: 430px) {
  .mainBlog h3 {
    margin: 0;
  }
}
.mainBlog h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}
@media (max-width: 430px) {
  .mainBlog h4 {
    padding: 10px;
  }
}
.mainBlog p {
  margin: 0;
}
@media (max-width: 430px) {
  .mainBlog p {
    padding: 10px;
  }
}

@media (max-width: 320px) {
  #blogBanner {
    background-image: url(../imagenes/banner-blog.png);
    height: 50px;
    padding-top: 100px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .tituloBlog {
    margin-top: 0px;
    margin-bottom: 90px;
    text-align: center;
    font-size: 30;
  }
  .mainBlog {
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
    margin-bottom: 100px;
  }
  .tituloArticulo {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 30px;
  }
  .subtitulosArticulo {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
#blogbanner {
  background-image: url(../media/banner-blog.png);
}

.section1 {
  margin-top: 50px;
  margin-bottom: 50px;
}
@media (max-width: 430px) {
  .section1 {
    margin: 0;
  }
}

.tituloSection1 {
  margin-top: 50px;
  margin-bottom: 70px;
  text-align: center;
  font-size: 60;
}
@media (max-width: 430px) {
  .tituloSection1 {
    font-size: 20px;
    margin: 25px 0 0 0;
  }
}

.seccion-productos {
  display: flex;
  justify-content: center;
  gap: 100px;
  position: relative;
}
@media (max-width: 430px) {
  .seccion-productos {
    margin: 40px 0 0 0;
    gap: 0;
  }
}

.producto {
  width: 30%;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.producto img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}
.producto h3 {
  margin-top: 10px;
}
.producto p {
  color: #666;
}
.producto .precio {
  font-weight: bold;
  color: #333;
  margin: 10px 0;
}

.producto.destacado {
  transform: translateY(-20px);
  z-index: 2;
  margin: 0 -10%;
}

.producto button {
  background-color: transparent;
  color: black;
  border: 1.5px solid black;
  border-radius: 12px;
  padding: 10px 20px;
  margin-top: 20px;
}
.producto button:hover {
  background-color: purple;
  color: white;
}

.tituloSection2 {
  margin-top: 50px;
  text-align: center;
  font-size: 60;
}
@media (max-width: 430px) {
  .tituloSection2 {
    font-size: 20px;
  }
}

.seccion-productos-linea {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin: 50px;
}
@media (max-width: 430px) {
  .seccion-productos-linea {
    flex-wrap: wrap;
    margin: 0;
    width: auto;
  }
}

.producto-linea {
  width: 23%;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.producto-linea img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
.producto-linea h3 {
  margin-top: 10px;
  margin-left: 0px;
  text-align: center;
}
@media (max-width: 430px) {
  .producto-linea h3 {
    margin: 0;
  }
}
.producto-linea p {
  color: #666;
  margin-left: 0;
}
@media (max-width: 430px) {
  .producto-linea p {
    margin: 0;
    font-size: 10px;
  }
}
.producto-linea .precio {
  font-weight: bold;
  color: #333;
  margin: 10px 0;
}
@media (max-width: 430px) {
  .producto-linea .precio {
    font-size: 11px;
  }
}

.producto-linea button {
  background-color: transparent;
  color: black;
  border: 1.5px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.producto-linea button:hover {
  background-color: purple;
  color: white;
}
@media (max-width: 430px) {
  .producto-linea button {
    font-size: 11px;
  }
}

main h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
@media (max-width: 430px) {
  main h1 {
    margin: 50px 0 0 0;
  }
}
main h2 {
  text-align: center;
  margin-bottom: 50px;
}
main h3 {
  margin-left: 230px;
  margin-right: 200px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: justify;
}
@media (max-width: 430px) {
  main h3 {
    margin: 0;
    padding: 15px;
    text-align: center;
  }
}
main p {
  margin-left: 250px;
  margin-right: 200px;
  text-align: justify;
}
@media (max-width: 430px) {
  main p {
    margin: 0;
    padding: 15px;
  }
}

@media (max-width: 320px) {
  h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
  }
  h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
  }
  h3 {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
  }
  p {
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
  }
}
.contacto {
  font-size: 40;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
}

.formulario-contacto {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.campo-formulario {
  margin-bottom: 15px;
}

.campo-formulario label {
  display: block;
  margin-bottom: 5px;
}

.campo-formulario input[type=text],
.campo-formulario input[type=email],
.campo-formulario input[type=tel] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  background-color: transparent;
  color: black;
  border: 1.5px solid black;
  border-radius: 12px;
  padding: 10px 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
button:hover {
  background-color: #000;
  color: white;
  transform: scale(1.1);
}

#section-politicas {
  margin-bottom: 50px;
}
#section-politicas h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
@media (max-width: 430px) {
  #section-politicas h1 {
    margin: 50px 0 0 0;
  }
}
#section-politicas h3 {
  margin-left: 250px;
  margin-right: 200px;
  margin-top: 60px;
  margin-bottom: 10px;
}
@media (max-width: 430px) {
  #section-politicas h3 {
    margin: 0;
    padding: 15px;
  }
}
#section-politicas h5 {
  margin-left: 250px;
  margin-right: 200px;
  font-size: 15;
}
@media (max-width: 430px) {
  #section-politicas h5 {
    margin: 0;
    padding: 15px;
  }
}
#section-politicas p {
  margin-left: 250px;
  margin-right: 200px;
  margin-bottom: 10px;
  text-align: justify;
}
@media (max-width: 430px) {
  #section-politicas p {
    margin: 0;
    padding: 15px;
  }
}

@media (max-width: 320px) {
  #section-politicas {
    margin-bottom: 50px;
  }
  .tituloPagPoliticas {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  .tituloPoliticas {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  .itemsPolitica {
    margin-left: 10px;
    margin-right: 10px;
  }
  .parrafoPoliticas {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
.maincart h2 {
  margin-top: 20px;
}
@media (max-width: 430px) {
  .maincart h2 {
    margin: 50px 0 0 0;
  }
}
.maincart section {
  margin: 40px;
  border: 1px solid black;
  border-radius: 12px;
}
.maincart section .divimg {
  display: flex;
  justify-content: center;
}
.maincart section .divimg img {
  width: 20%;
}
.maincart section .divdatos {
  display: inline;
  justify-content: center;
  text-align: center;
}
.maincart section .divdatos h5 {
  font-size: 30px;
}
.maincart section .divdatos p {
  font-size: 15px;
  text-align: center;
  margin: 0px;
}
.maincart .divbutton {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.bodystore {
  overflow: auto;
}
.bodystore .storemain {
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: 150px auto;
  grid-template-areas: "banner banner banner banner" "navegacion products products cart";
}
@media (max-width: 430px) {
  .bodystore .storemain {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 150px auto;
    grid-template-areas: "banner banner" "navegacion products";
  }
}
.bodystore .storemain #storebanner {
  grid-area: banner;
  background-size: cover;
  background-position: center;
}
@media (max-width: 430px) {
  .bodystore .storemain #storebanner {
    margin: 0;
  }
}
.bodystore .storemain #storebanner h1 {
  color: white;
  padding-top: 25px;
  font-size: 50px;
  text-align: center;
  align-items: center;
}
@media (max-width: 430px) {
  .bodystore .storemain #storebanner h1 {
    margin: 0;
    padding: 45px 0 0 0;
    font-size: 30px;
  }
}
.bodystore .storemain .barra-filtrado {
  grid-area: navegacion;
  padding: 10px;
  box-sizing: border-box;
  top: 0;
}
@media (max-width: 430px) {
  .bodystore .storemain .barra-filtrado {
    position: fixed;
    margin-top: 250px;
  }
}
.bodystore .storemain .barra-filtrado .filtro {
  margin-bottom: 20px;
}
.bodystore .storemain .barra-filtrado h3 {
  margin: 0;
  padding: 10px 10px 0 10px;
  text-align: left;
}
@media (max-width: 430px) {
  .bodystore .storemain .barra-filtrado h3 {
    font-size: 15px;
  }
}
.bodystore .storemain .barra-filtrado div {
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
}
.bodystore .storemain .barra-filtrado label {
  margin-left: 5px;
}
@media (max-width: 430px) {
  .bodystore .storemain .barra-filtrado label {
    font-size: 12px;
  }
}
.bodystore .storemain .storesectionproduct {
  grid-area: products;
  padding: 40px;
}
@media (max-width: 430px) {
  .bodystore .storemain .storesectionproduct {
    padding: 0;
  }
}
.bodystore .storemain .storesectionproduct .productosstore {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5px;
}
.bodystore .storemain .storesectionproduct .productostore {
  width: 25%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  margin: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.bodystore .storemain .storesectionproduct .productostore img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.5s ease;
}
.bodystore .storemain .storesectionproduct .productostore img:hover {
  transform: scale(1.1);
}
.bodystore .storemain .storesectionproduct .productostore h3 {
  color: #333;
  margin: 15px 0 0 0;
  font-size: 15px;
  text-align: center;
}
.bodystore .storemain .storesectionproduct .productostore p {
  margin: 10px;
  color: #666;
  text-align: center;
}
.bodystore .storemain .storesectionproduct .productostore a {
  margin: 10px;
  border: 1px solid black;
  border-radius: 12px;
  text-decoration: none;
  padding: 7px;
}
.bodystore .storemain .storesectionproduct .productostore a:hover {
  transform: scale(1.1);
  background-color: transparent;
  color: black;
}
@media (max-width: 430px) {
  .bodystore .storemain .storesectionproduct .productostore {
    margin: 0;
    width: 70%;
  }
}
.bodystore .storemain .storecard {
  grid-area: cart;
  margin-top: 40px;
}
.bodystore .storemain .storecard .carrito {
  padding-bottom: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
}
.bodystore .storemain .storecard .productocarrito {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}
.bodystore .storemain .storecard .productocarrito img {
  width: 40%;
  height: auto;
  margin: 0;
}
.bodystore .storemain .storecard .productocarrito p {
  margin: 0;
  text-align: center;
  font-size: 10px;
}
.bodystore .storemain .storecard .productocarrito a {
  margin: 10px;
  border: 1px solid black;
  border-radius: 12px;
  text-decoration: none;
  padding: 7px;
}
.bodystore .storemain .storecard .productocarrito a:hover {
  transform: scale(1.1);
  background-color: transparent;
  color: black;
}
@media (max-width: 430px) {
  .bodystore .storemain .storecard {
    display: none;
  }
}

#storebanner {
  background-image: url(../media/banner3.png);
}

/*# sourceMappingURL=main.css.map */
